<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-content">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Rotten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label color="danger" class="ion-text-center">Top rated Movies</ion-label>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/src/app/pages/new-review/new-review.page.html" color="danger">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://www.gamespot.com/a/uploads/original/1562/15626911/3776884-image%285%29.png"></ion-img>
      <ion-card-subtitle class="movie">Movie</ion-card-subtitle>
      <ion-card-title>Cherry</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="description">
      Cherry drifts from college dropout to army medic in Iraq - anchored only by his true love, Emily. But after returning from the war with PTSD, his life spirals into drugs and crime as he struggles to find his place in the world.
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <ion-card-header>
      <ion-img src="https://www.gamespot.com/a/uploads/scale_super/1179/11799911/2831213-spectre.jpg"></ion-img>
      <ion-card-subtitle class="movie">Movie</ion-card-subtitle>
      <ion-card-title>Spectre 007</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="description">
      A cryptic message from the past leads James Bond (Daniel Craig) to Mexico City and Rome, where he meets the beautiful widow (Monica Bellucci) of an infamous criminal. After infiltrating a secret meeting, 007 uncovers the existence of the sinister organization SPECTRE. Needing the help of the daughter of an old nemesis, he embarks on a mission to find her. As Bond ventures toward the heart of SPECTRE, he discovers a chilling connection between himself and the enemy (Christoph Waltz) he seeks.    </ion-card-content>
  </ion-card>  
  <ion-card>
    <ion-card-header>
      <ion-img src="https://sm.ign.com/t/ign_in/gallery/s/spider-man/spider-man-far-from-home-official-movie-posters_epch.1080.jpg"></ion-img>
      <ion-card-subtitle class="movie">Movie</ion-card-subtitle>
      <ion-card-title>Spider-Man: Far from home</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="description">
      Our friendly neighborhood Super Hero decides to join his best friends Ned, MJ, and the rest of the gang on a European vacation. However, Peter's plan to leave super heroics behind for a few weeks are quickly scrapped when he begrudgingly agrees to help Nick Fury uncover the mystery of several elemental creature attacks, creating havoc across the continent.
    </ion-card-content>
  </ion-card>  
</ion-content>
