<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-content">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="wrapper">
      <ion-icon size="large" name="star-outline"></ion-icon>
      <ion-label>Review</ion-label>
    </div>
    <div class="wrapper">
      <ion-icon size="large" name="star-half-outline"></ion-icon>
      <ion-label>My Reviews</ion-label>
    </div>
    <div class="wrapper">
      <ion-icon size="large" name="chatbubble-outline"></ion-icon>
      <ion-label>My comments</ion-label>
    </div>
  </ion-list>
</ion-content>
