<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-content">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Personal Info</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="onClick()" color="danger" expand="block" fill="solid" shape="round">
        Update Personal Info
      </ion-button>
    </ion-card>
  </div>
</ion-content>
