<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-content">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="danger">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Login</ion-card-subtitle>
        <ion-card-title color="danger">Rotten</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Login to begin with the ratings thingy
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="full" fill="clear" color="dark">Forgot Password?</ion-button>
        <ion-button size="full" shape="round" fill="solid" color="danger">Login</ion-button>
        <ion-button size="full" shape="round" fill="clear" color="danger">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  
</ion-content>
